<div class="page-container">

    <h2 class="title">Quản lý món ăn</h2>
    <!-- Buttons -->
    <div class="btn-bar">
        <dx-button text="Xóa các mục đã chọn" type="danger" (onClick)="deleteSelected()"
            [elementAttr]="{ class: 'btn-delete-selected' }">
        </dx-button>

    </div>

    <!-- DataGrid -->
    <div style="overflow-x: auto; max-width: 100%;">
        <dx-data-grid [dataSource]="data" keyExpr="id" [showBorders]="true" class="product-grid"
            (onSelectionChanged)="onSelectionChanged($event)">
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

            <!-- Batch Editing -->
            <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
            </dxo-editing>

            <!-- Multi Select -->
            <dxo-selection mode="multiple"></dxo-selection>

            <!--Show, Hide  -->
            <dxo-column-chooser [enabled]="true" mode="select" height="500" title="Chọn cột hiển thị">
                <dxo-search [enabled]="true"></dxo-search>
            </dxo-column-chooser>

            <!-- Paging, Filtering -->
            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"
                infoText="Trang {0}/{1} ({2} sản phẩm)">
            </dxo-pager>

            <dxo-filter-row [visible]="true"></dxo-filter-row>

            <dxi-column dataField="hinhAnh" caption="Hình ảnh" width="150" cellTemplate="hinhAnhCellTemplate">
            </dxi-column>

            <dxi-column dataField="ten" caption="Tên sản phẩm" [allowFiltering]="true"
                [validationRules]="[{ type: 'required', message: 'Tên sản phẩm không được để trống' }]">
            </dxi-column>

            <dxi-column dataField="danhMuc" caption="Danh mục" width="150" [allowFiltering]="true"
                [lookup]="{ dataSource: danhMucList, valueExpr: '', displayExpr: '' }"
                [validationRules]="[{ type: 'required', message: 'Danh mục không được để trống' }]">
            </dxi-column>

            <dxi-column dataField="trangThai" caption="Trạng thái" width="180" [allowFiltering]="true"
                [lookup]="{ dataSource: trangThaiOptions, valueExpr: '', displayExpr: '' }"
                cellTemplate="statusCellTemplate"
                [validationRules]="[{ type: 'required', message: 'Trạng thái không được để trống' }]">
            </dxi-column>

            <dxi-column dataField="gia" caption="Giá (VND)" [format]="{ number:'1.0-0'}" [allowFiltering]="false"
                dataType="number" [editorOptions]="{ min: 0 }" 
                [validationRules]="[
                { type: 'required', message: 'Giá không được để trống' },
                { type: 'range', min: 0, message: 'Giá phải ≥ 0' }]">
            </dxi-column>

            <!-- Templates -->

            <div *dxTemplate="let data of 'statusCellTemplate'">
                <div class="status">
                    <span [ngClass]="data.data.trangThai === 'Hoạt động' ? 'status-active' : 'status-inactive'">
                        {{ data.data.trangThai }}
                    </span>
                </div>
            </div>

            <div *dxTemplate="let data of 'hinhAnhCellTemplate'">
                <img *ngIf="data.data.hinhAnh && data.data.hinhAnh " [height]="80" [src]="data.data.hinhAnh"
                    alt="Picture of" />
            </div>
        </dx-data-grid>
    </div>


</div>