.page-container {
    padding: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-bar {
    margin-top: 1px;
    justify-content: flex-end;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    dx-button {
        button {
            padding: 6px 15px;
            border-radius: 6px;
        }
    }
}

/* DataGrid */
.product-grid {
    border-radius: 10px;
    padding: 10px;

}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.status-active,
.status-inactive {
    padding: 4px;
    border-radius: 10px;
    color: black;
    width: 100%; 
    text-align: center; 
}

.status-active {
    background-color: rgb(19, 228, 19);
}

.status-inactive {
    background-color: red;
}


