:host.dx-swatch-additional,
:host.dx-swatch-additional-dark {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 250px !important;
  --side-menu-bg: #3e079c;
  background-color:  var(--side-menu-bg);

  ::ng-deep .menu-container {
    min-height: 100%;
    display: flex;
    flex: 1;

    .dx-treeview {
      // ## Long text positioning
      white-space: nowrap;
      // ##

      // ## Icon width customization
      .dx-treeview-item {
        padding-left: 0;
        border-radius: 0;
        flex-direction: row-reverse;

        .dx-icon {
          width: var(--side-panel-min-width) !important;
          margin: 0 !important;
        }
      }

      // ##

      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }
      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level="1"] {
          font-weight: bold;
        }

        &[aria-level="2"] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 var(--side-panel-min-width);
        }
      }
      // ##
    }
  }
}
::ng-deep .dx-treeview {

  /* mặc định */
  .dx-treeview-item {
    transition: background-color 0.2s ease;
  }

  .dx-treeview-item-content {
    color: #fff !important;
  }

  .dx-treeview-item.dx-state-hover {
    background-color: #402c65 !important; 
  }

  .dx-treeview-item.dx-state-hover
  .dx-treeview-item-content {
    color: #ffffff !important;
  }

  .dx-treeview-item.dx-state-hover .dx-icon {
    color: #ffffff !important;
  }

  .dx-treeview-node.dx-state-selected
  > .dx-treeview-item {
    background-color: #2a144d !important;
  }

  .dx-treeview-node.dx-state-selected
  .dx-treeview-item-content {
    color: #ffffff !important;
  }

  .dx-treeview-node.dx-state-selected .dx-icon {
    color: #ffffff !important;
  }

  .dx-treeview-node.dx-state-selected
  .dx-treeview-item.dx-state-hover {
    background-color: #2a144d !important;
  }
}



