<h2>Thông tin user</h2>

<dx-validation-group>
  <div class="profile-container">

    <div class="dx-card profile-header">
      <div class="profile-top">
        <div class="avatar-wrapper">
          <img class="avatar" [src]="employee.Picture" />
        </div>

        <div class="description">
          {{ employee.Notes }}
        </div>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="profile-action-buttons">
      <dx-button text="{{ isEditing ? 'Lưu thông tin' : 'Chỉnh sửa' }}" [type]="isEditing ? 'success' : 'default'"
        icon="{{ isEditing ? 'save' : 'edit' }}" (onClick)="toggleEdit()">
      </dx-button>
    </div>


    <div class="dx-card profile-form">
      <!-- TÊN QUẢN LÝ -->
      <div class="form-row">
        <label>Tên quản lí</label>
        <dx-text-box [value]="employee.ManagerName" (onValueChanged)="employee.ManagerName = $event.value"
          [readOnly]="!isEditing">
          <dx-validator>
            <dxi-validation-rule type="required" message="Tên quản lí không được để trống"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

      </div>

      <!-- ĐỊA CHỈ -->
      <div class="form-row">
        <label>Địa chỉ</label>
        <dx-text-box [value]="employee.Address" (onValueChanged)="employee.Address = $event.value"
          [readOnly]="!isEditing">
          <dx-validator>
            <dxi-validation-rule type="required" message="Địa chỉ không được để trống"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

      </div>

      <!-- PHONE -->
      <div class="form-row">
        <label>Số điện thoại</label>
        <dx-text-box [value]="employee.Phone" (onValueChanged)="employee.Phone = $event.value" [readOnly]="!isEditing">
          <dx-validator>
            <dxi-validation-rule type="required" message="Số điện thoại không được để trống"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

      </div>

      <!-- EMAIL -->
      <div class="form-row">
        <label>Email</label>
        <dx-text-box [value]="employee.Email" (onValueChanged)="employee.Email = $event.value" [readOnly]="!isEditing">
          <dx-validator>
            <dxi-validation-rule type="required" message="Email không được để trống"></dxi-validation-rule>
            <dxi-validation-rule type="email" message="Email không hợp lệ"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>

      </div>

      <!-- HÌNH ẢNH -->
      <div class="form-row" style="grid-column: span 2;">
        <label>Hình Ảnh</label>
        <dx-text-box placeholder="Nhập URL ảnh..." [(value)]="imageUrlInput"
          (onValueChanged)="onImageUrlChanged($event)" [readOnly]="!isEditing">
          <dx-validator>
            <dxi-validation-rule type="pattern" [pattern]="imageUrlPattern"
              message="URL ảnh không hợp lệ! Chỉ chấp nhận .jpg hoặc .jpeg">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>


    </div>

  </div>
</dx-validation-group>