.header {
  display: flex;       
  gap: 25px;          
  padding: 20px;
}


.stat-card {
  display: flex;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.stat-icon {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-right: 12px;
}

.stat-icon:has(.dx-icon-group) {
  background-color: #3e079c;
}

.stat-icon:has(.dx-icon-edit) {
  background-color: #2563eb;
}

.stat-icon:has(.dx-icon-food) {
  background-color: #16a34a;
}
.stat-content {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  .label {
    font-size: 12px;
    color: #6b7280;
  }

  .value {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin-top: 2px;
  }
}

.header-chart {
  border: 2px solid #1e90ff;
  border-radius: 12px;
  padding: 16px;
  background: #fff;
}

/* HEADER */
.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
}

/* BODY */
.invoice-body {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

/* LEGEND */
.invoice-legend {
  min-width: 300px;

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .color-box {
      width: 36px;
      height: 14px;
      border-radius: 6px;
      margin-right: 10px;
    }

    .label {
      font-size: 13px;
    }
  }
}

.invoice-chart {
  width: 420px;
  height: 300px;
}

